/* Setting background width */
.whatever {
  min-width: 900px;
}


/* Font for the site */
.font {
  font-family: 'Kanit', sans-serif;
}


/* Related to text at top of the page */
h1 {
  color: grey;
}

.shadowText {
  text-shadow: 2px 2px #f0ad4e;
}

.textHide {
  color: lightsteelblue;
}

h1:hover {
  color: grey;
}

.middle {
  text-align: center;
}


/* Padding & Margins */
.mapMargin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.top {
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.noTop {
  margin-top: 0;
}

.pad {
  padding-top: 2px;
  padding-bottom: 2px;
}

.bottomMargin {
  margin-bottom: 15px;
}

/* Map/directions display */
#map {
  width: 50vw;
  height: 50vw;
}

#holdingMap {
  width: 40vw;
  height: 40vw;
  display: in;
}

#directionsList {
  height: 100%;
  width: 375px;
  overflow: auto;
  background-color: white;
}


/* General Styling */
.backblue {
  background-color: lightsteelblue;
}

.blueborder {
  border: 2px solid blue;
  border-radius: 25px;
}

.mapborder {
  border: 2px solid blue;
}

.bottomBorder {
  border-bottom: 4px solid grey;
  padding-top: 10px;
}

.bolder {
  font-weight: bold;
}

.boxShadow {
  box-shadow: 3px 3px grey;
}

.mapShadow {
  box-shadow: 5px 5px grey;
}

.announceBox {
  border: 2px solid blue;
  border-radius: 25px;
  background-color: white;
  box-shadow: 3px 3px grey;
}

