<div>
  <form>
    Starting Location:<input type="text" ng-model="user.starting" required /><br />
    Ending Location: <input type="text" ng-model="user.ending" required /><br />
    <input type="submit" class="btn btn-primary" ng-click="main.locations()" />
  </form>
  <div id="map" style="width:400px; height:400px;"></div>
  <form>
    Set Access Date and Time:<input type="datetime-local" ng-model="user.dateTime" required /><br />
    Delete Path Date and Time:<input type="datetime-local" ng-model="user.endTime" required /><br />
    Name your path:<input type="text" ng-model="user.pathName" required />
    <button type="submit" class="btn btn-danger" ng-click="main.setPath()">Set</button>
  </form>
  <div id="announce"></div>
</div>
